.banner-welcome
  background-color: #DFDFDF;
  padding: 50px 20px
  text-align: center
  .image-large
    height: 110px
  p.title
    color: #4b3c59;
    font-size: 30px;
    margin: 20px auto;
    max-width: 50%;
    line-height: 1.25;
    @media (max-width: 600px)
      max-width: 80%
      font-size: 25px;
  p.subtitle
    color: #4b3c59;
    margin: 20px auto;
    max-width: 50%;
    line-height: 1.25;
    font-size: 22px;
    @media (max-width: 600px)
      max-width: 80%
      font-size: 18px;
  .row
    justify-content: center
  .boton-foro-virtual
    border: none;
    width: 100%;
    background: #BF4588;
    //box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), inset -6px -6px 10px rgba(140, 3, 117, 0.5), inset 6px 6px 10px rgba(255, 136, 201, 0.5);
    border-radius: 5px;
    color: white
    padding: 15px 30px
    display: inline-block
    margin-top: 10px
    margin-bottom: 10px;
    &:hover
      cursor: pointer;
      background-color: #9c3b6e
  .boton-foro-presencial
    border: none;
    width: 100%;
    background: transparent;
    border: 2px solid #BF4588;
    //box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), inset -6px -6px 10px rgba(140, 3, 117, 0.5), inset 6px 6px 10px rgba(255, 136, 201, 0.5);
    border-radius: 5px;
    color: #BF4588
    padding: 13px 30px
    display: inline-block
    margin-top: 10px
    margin-bottom: 10px;
    &:hover
      cursor: pointer;
      color: white;
      border-color: #9c3b6e;
      background-color: #9c3b6e
