.ext-topic-container.user-logged
  @media (max-width: 400px)
    margin-top: 140px
#topic-wrapper
  height inherit
  display flex

/*@import './topic-article-proyecto/styles'*/
@import './topic-article-propuesta/styles'
@import '../jump-button/styles'

  footer
    display: block
