@import "mobile-menu/styles"
@import "user-badge/styles"

#outer-layout
  padding: 0 !important
nav.navbar
  box-shadow 1px 1px 1px -1px rgba(#000, .175)
  padding: 0 0 0 32px
  @media screen and (max-width: 500px)
    padding: 0 0 0 15px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  border-width: 0;
  min-height: 70px;
  &:before, &:after
    content: none
  .navbar-brand
    padding: 0
    margin-right: 0
    height: auto;
    img
      height: 60px
      @media screen and (min-width: 1080px)
        -moz-heigth: 60%
    .logo-mobile
      height: 30px
  a
    color: #990070
    text-transform: uppercase
    font-weight: bold
  .navbar-nav
    font-size: 16px
    display: flex
    align-items center
    margin-right: 0
    margin-top: 0
    .user-badge
      .user-badge-link
        margin: 0
    .nav-item //campanita notificaciones
      margin: 0 20px
      @media screen and (min-width: 500px)
        margin: 0 25px
      .nav-link
        color inherit
        span.icon-bell
          font-size: 24px
          color: #990070
          @media screen and (min-width: 975px)
            font-weight: bold
  .header-item
    height: 80px;
    padding: 0 20px;
    @media screen and (max-width: 1033px)
      padding: 0 13px;
    font-weight: bold
    display: flex;
    align-items: center;
    &:hover, &.active
      .header-link
        color: #990070
      .header-link-EAC
        color: #38701d
      .header-link-IPS
        color: #ad3f3d
      .header-link-ESUPCOM
        color: #5795f8
    .header-link
      height: auto
      position: relative
      max-width 170px
      color: #4b3c59
  .user-badge-helper
    margin-left 10px

 a.header-link.anon-user
  text-transform:lowercase
