.topics-cause-propuesta
  .btn-like
    margin: 10px;
    width: auto
    border-radius: 32px;
    padding: 8px 20px;
    font-weight: 700;
    &.btn-like-empty
      background: transparent
      color: #8C0375
      border: 2px solid #8C0375;
      &:hover
        background: #8C0375
        color: #fff
    &.btn-like-filled
      background: #8C0375
      color: #FFF;
      border: 2px solid #8C0375;
      opacity: 0.5