#signup-form
  max-width 400px
  width 90%
  .accepting
    text-align center
    a
      display block
    p
      font-size 15px
      margin 0
  .help-text
    font-size: 0.9rem;
    margin-top: 8px;
    color: #8C0375;
    //text-align: justify;
  .btn-do-signup
    background-color: #8C0375;
    color: #FFF;
    &:hover
      background-color: #bf4588;

#signup-message
  max-width 500px

.ingresa-cuenta
  text-align: center;
  margin: 40px 0;
